<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8"/>
        <title>テスト</title>
    </head>
    <body>
        <h1>Users</h1>
        
	    <table border="1">
	    	<thead>
		        <tr>
					<th>mail address</th>
					<th>password</th>
					<th>name</th>
					<th>manage level</th>
					<th>number</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="info: ${userInfo}">
					<td th:text="${info.mail_address}"></td>
					<td th:text="${info.passwd}"></td>
					<td th:text="${info.user_name}"></td>
					<td th:text="${info.manage_level}"></td>
					<td th:text="${info.user_number}"></td>
		        </tr>
	        </tbody>
	    </table>
    </body>
</html>